<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.todo.TodoMapper">	
	<sql id = "todoColumns">
		idx,tododate,content,isdone,today
	</sql>
	
	<select id="selectTodoList" resultType="TodoDTO">
		SELECT idx,tododate,content,isdone,today
		FROM todotable
		ORDER BY idx desc
	</select>

<!--
	<insert id="insertTodoList" parameterType = "TodoDTO">
		INSERT INTO todotable(
			<include refid = "todoColumns"/>
		) VALUES(
			#{item}
		)
	</insert>
	  -->	

</mapper>